<?xml version="1.0" ?>
<!--
  ~ Copyright Extend (c) 2022. All rights reserved.
  ~ See Extend-COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Extend_Integration::extend" title="Extend" translate="title" module="Extend_Integration" sortOrder="80" dependsOnModule="Extend_Integration" resource="Extend_Integration::integration" />
        <add id="Extend_Integration::integration" title="Integration" translate="title" module="Extend_Integration" sortOrder="10" parent="Extend_Integration::extend" action="admin/integration" resource="Extend_Integration::integration" />
        <add id="Extend_Integration::store_configuration" title="Settings" translate="title" module="Extend_Integration" sortOrder="20" parent="Extend_Integration::extend" action="admin/system_config/edit/section/extend" resource="Extend_Integration::integration" />
        <add id="Extend_Integration::about_extend" title="About" translate="title" module="Extend_Integration" sortOrder="30" parent="Extend_Integration::extend" action="extend_integration/extend/about" resource="Extend_Integration::integration" target="_blank" />
        <add id="Extend_Integration::request_support" title="Request Support" translate="title" module="Extend_Integration" sortOrder="40" parent="Extend_Integration::extend" action="extend_integration/extend/requestsupport" resource="Extend_Integration::integration" target="_blank" />
    </menu>
</config>
